.wrapper {
    display: flex;
    justify-content: center;
    width: 100vw;
    flex-direction: column;
}
.header { 
    background-color: #333;
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.search-input {
    width: 480px;
}

.movie, .tvseries{
    display: flex;
    flex-direction: column;

}

.title {
    margin: 0;
    margin-top: 20px;
}



.film-card {
    display: flex;
    flex-direction: column;
    border: 1px solid #333;
    padding: 10px;
    width: 90%;
    margin: 4px auto;
    border-radius: 4px;
}

.film-title {
    margin: 0;
    font-size: 20px;
    
}

.film-info {
    font-size: 16px;
}

.film-rating, .film-review {
    display: flex;
    flex-direction: column;
    width: 480px;
    justify-content: center;
    margin: 20px auto;
    border: 1px solid #333;
    align-items:center;
    padding: 10px;

}


.id {
    display: flex;
    align-items:center;
}

.title-input {
    margin-right: 10px;
}

.rating-id {
    height: 30px;
}

.rating-input {
    margin:  10px 0;
    width: 100%;
}

.rating-input__title {
    margin:  10px 0;
}

.rating-input__review {
    margin:  10px 0;
}





